In [1]:
addition=lambda a,b:a+b
addition(2,4)

6

In [2]:
even=lambda a:a%2==0
even(2)

True

In [3]:
lst=[1,2,3,4,5,6,7,8,9]

In [4]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8]

In [5]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False]

In [6]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [7]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [8]:
#list comprehension
lst=[1,2,3,4,5,6,7]
lst1=[i*i for i in lst if i%2==0]
print(lst1)

[4, 16, 36]

In [9]:
lst=[1,2,3,4,5,6,7]

In [10]:
lst1=iter(lst)

In [11]:
next(lst1)

1

In [12]:
print(lst1)

<list_iterator object at 0x1067fd660>

In [13]:
df=pd.read_csv('ds_salaries.csv')

In [14]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [17]:
active_imports()

import pandas as pd

['import pandas as pd']